.Checkout {
  &::before {
    @include after-mobile {
      content: '';
      background: var(--breadcrumbs-background);
      min-height: var(--breadcrumbs-height);
      display: none;
    }
  }
}
